// COLORS

.dark-green {
    background-color: #009624;
}
.green {
    background-color: #00c853;
}
.light-green {
    background-color: #5efc82;
}
.dark-purple {
    background-color: #9e00c5;
}
.purple {
    background-color: #d500f9;
}
.light-purple {
    background-color: #ff5bff;
}

.light-pink {
    background-color: #ffffff;
}
.pink {
    background-color: #c3a38c;
}
.blue {
    background-color: #2e394b;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    align-items: center;
}

.align-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.wrongForm {
    background-color: rgba(255, 99, 71, 0.438);
}

.container {
    // max-width: 1330px;
    width: 1330px;

    @media (max-width: 1440px) {
        width: 980px;
        margin: 0 auto;
    }
    @media (max-width: 1025px) {
        width: 780px;
    }
    @media (max-width: 840px) {
        width: 85vw;
    }
    @media (max-width: 400px) {
        width: 95%;
    }

    // margin:0 auto;
}

.margin-center {
    margin: 0 auto;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.hide {
    display: none;
}

.clean-list {
    text-decoration-line: none;
    list-style-type: none;
}
