.search-section{

    width: 300px;
    margin:0;
    button{
        // background-color: #1AA5A1;
        color: white;
        height: 30px;
        width: 40px;
    }
    form{
        width: 100%;
    }

    input{
        border: none;
        height: 30px;
        width: 100%;
    }


}